body{
    background-image: url("background.avif");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

#btn {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    font-size: 40px;
    border: solid 2px green;
    font-family: 'Bubblegum Sans', cursive;
    position: fixed;
}

#par {
    display: none;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    font-size: 30px;
    border: solid 2px green;
    font-family: 'Bubblegum Sans', cursive;
    margin-top: 500px;
    text-align: center;
}